@import url(https://fonts.google.com/specimen/Outfit);

:root {
    --bg-color: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish--blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%)
}

@media (min-width:374px) {
    body {
        background-color: var(--light-gray);
        font-size: 15px;
        font-family: 'Outfit', sans-serif;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 100px;
        box-sizing: border-box;
    }
}

@media (max-width:376) {
    body {
        background-color: var(--light-gray);
        font-size: 15px;
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        box-sizing: border-box;
        padding: 30px;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.main-container {
    background-color: var(--bg-color);
    color: var(--dark-blue);
    position: relative;
    width: max(18%, 340px);
    height: 0  auto;
    border-radius: 20px;
    display: inline-block;
    box-shadow: -4px 12px 20px -11px rgba(0, 0, 0.50, 0.50);
    padding: 20px;
}

.middle-container {
    
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.img-container {
    display: block;
}

.paragraph {
    color: var(--grayish--blue);
    word-spacing: 1px;
    padding-left: 18px;
    padding-right: 18px;
    
}

.attribution {
    position: relative;
    display: inline-block
}