@import url(https://fonts.google.com/specimen/Outfit);

:root {
    --bg-color: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish--blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%)
}

@media (min-width:374px) {
    body {
        background-color: var(--grayish--blue);
        font-size: 15px;
        font-family: Outfit, sans-serif;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px
    }
}

@media (max-width:376) {
    body {
        background-color: var(--grayish--blue);
        font-size: 15px;
        font-family: Outfit;
        font-weight: 400
    }
}

.main-container {
    background-color: var(--light-gray);
    position: relative;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    display: inline-block
}
.middle-container {
    text-align: center;
}
img {
    max-width: 100%;
    max-height: 100%
}

.attribution {
    position: relative;
    padding: 20px;
    display: inline-block
}

.padding {
    padding: 4px
}